<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/estilosPropios.css" asp-append-version="true" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/favicon.png" />

          

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container">
                <a class="navbar-brand" href="/index">
                    <img src="~/img/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top logo-empresa">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SobreNosotros">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Productos">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Contacto">Contacto</a>
                        </li>
                    </ul>
                    <a href="/login" class="btn btn-outline-primary" role="button">Inicio de Sesión</a>
                    <div class="cart-icon">
                        <a href="#" class="img-centrada">
                            <img src="~/img/Diseño sin título.png" alt="Carrito" />
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

  
    <div class="container-fluid">
        <footer class="footer-pagina">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/Index" class="nav-link px-2 texto-footer">Inicio</a></li>
                <li class="nav-item"><a href="/SobreNosotros" class="nav-link px-2 texto-footer">Sobre Nosotros</a></li>
                <li class="nav-item"><a href="/Productos" class="nav-link px-2 texto-footer">Productos</a></li>
                <li class="nav-item"><a href="/Contacto" class="nav-link px-2 texto-footer">Contacto</a></li>
                <li class="nav-item"><a href="/login" class="nav-link px-2 texto-footer" role="button">Inico de Sesión</a></li>
            </ul>
            <p class="text-center texto-footer">© 2024 Techno, SA de CV</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>