@page
@model WebApplication1.Pages.ProductosModel
@{
    ViewData["Title"] = "Productos";
}

<div class="container mt-5">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/img/monitor.png" class="card-img-top" alt="Imagen del producto 1">
                <div class="card-body">
                    <h5 class="card-title">$2599.99</h5>
                    <p class="card-text">Monitor Gamer Cooler Master GA271 LCD 27" / Wide Quad HD / G-Sync/FreeSync / 100Hz / HDMI / Negro / CMI-GA271-US </p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/img/grafica.png" class="card-img-top" alt="Imagen del producto 2">
                <div class="card-body">
                    <h5 class="card-title">$4299.99</h5>
                    <p class="card-text">Tarjeta de Video XFX Speedster SWFT210 Radeon RX 6650XT / 8GB GDDR6 / HDMI 3xDP / AMD RDNA 2 / RX-665X8DFDY </p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/img/pc.png" class="card-img-top" alt="Imagen del producto 3">
                <div class="card-body">
                    <h5 class="card-title">$33999.99</h5>
                    <p class="card-text">Computadora PRIDE MSI MONSTER HUNTER / NVIDIA GeForce RTX 4060Ti / INTEL CORE I5 14600KF 3.5 GHZ / 32GB RAM / 2TB SSD M.2 NVMe / ENF. LIQ. 360MM / 750W 80+ GOLD / </p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/img/monitor.png" class="card-img-top" alt="Imagen del producto 1">
                <div class="card-body">
                    <h5 class="card-title">$2599.99</h5>
                    <p class="card-text">Monitor Gamer Cooler Master GA271 LCD 27" / Wide Quad HD / G-Sync/FreeSync / 100Hz / HDMI / Negro / CMI-GA271-US </p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/img/grafica.png" class="card-img-top" alt="Imagen del producto 2">
                <div class="card-body">
                    <h5 class="card-title">$4299.99</h5>
                    <p class="card-text">Tarjeta de Video XFX Speedster SWFT210 Radeon RX 6650XT / 8GB GDDR6 / HDMI 3xDP / AMD RDNA 2 / RX-665X8DFDY </p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/img/pc.png" class="card-img-top" alt="Imagen del producto 3">
                <div class="card-body">
                    <h5 class="card-title">$33999.99</h5>
                    <p class="card-text">Computadora PRIDE MSI MONSTER HUNTER / NVIDIA GeForce RTX 4060Ti / INTEL CORE I5 14600KF 3.5 GHZ / 32GB RAM / 2TB SSD M.2 NVMe / ENF. LIQ. 360MM / 750W 80+ GOLD / </p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/img/monitor.png" class="card-img-top" alt="Imagen del producto 1">
                <div class="card-body">
                    <h5 class="card-title">$2599.99</h5>
                    <p class="card-text">Monitor Gamer Cooler Master GA271 LCD 27" / Wide Quad HD / G-Sync/FreeSync / 100Hz / HDMI / Negro / CMI-GA271-US </p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/img/grafica.png" class="card-img-top" alt="Imagen del producto 2">
                <div class="card-body">
                    <h5 class="card-title">$4299.99</h5>
                    <p class="card-text">Tarjeta de Video XFX Speedster SWFT210 Radeon RX 6650XT / 8GB GDDR6 / HDMI 3xDP / AMD RDNA 2 / RX-665X8DFDY </p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card">
                <img src="/img/pc.png" class="card-img-top" alt="Imagen del producto 3">
                <div class="card-body">
                    <h5 class="card-title">$33999.99</h5>
                    <p class="card-text">Computadora PRIDE MSI MONSTER HUNTER / NVIDIA GeForce RTX 4060Ti / INTEL CORE I5 14600KF 3.5 GHZ / 32GB RAM / 2TB SSD M.2 NVMe / ENF. LIQ. 360MM / 750W 80+ GOLD / </p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}