@page
@model WebApplication1.Pages.SobreNosotrosModel
@{
    ViewData["Title"] = "Sobre Nosotros";
}


<div class="container-fluid">
    <div class="img-sobre-nosotros">
        <img src="/img/Navy Blue Futuristic Virtual Technology Banner.png" alt="" />
    </div>
</div>
<div class="container">
    <div class="row featurette" data-aos="fade-up" data-aos-duration="1500">
        <div class="col-md-7" >
            <h2 class="featurette-heading fw-normal lh-1">Bienvenido a <span class="text-body-secondary">TECHNO.</span></h2>
            <p class="lead">La mejor tienda de componentes electronicos y computadoras de todo México.</p>
        </div>
        <div class="col-md-5" >
            <img src="/img/logo-techno.png" class="featurette-image img-fluid2 mx-auto" alt="Featurette Image">
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}