@page
@model WebApplication1.Pages.SobreNosotrosModel
@{
    ViewData["Title"] = "Sobre Nosotros";
}


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Bienvenido a. <span class="text-body-secondary">empresa de tecnologia.</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit, eleifend tempus vitae ad euismod.</p>
    </div>
    <div class="col-md-5">
        <img src="/img/Pc-Armada-All-in-one-basic-PC-Spartan-Lite-Monitor-LG-y-perifericos-Ultra_ac.png" class="featurette-image img-fluid2 mx-auto" alt="Featurette Image">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}