body {
    margin: 0;
    padding: 0;
    background-color: #E3F1FF;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar-custom {
    background-color: #007bff; /* Fondo azul */
}

.logo-empresa {
    width: auto;
}

.footer-pagina {
    background-color: #007bff;
}

.texto-footer {
    color: white !important;
}
    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link,
    .navbar-custom .btn {
        color: white; /* Letras blancas */
    }

    .navbar-custom .btn-outline-primary {
        border-color: white;
    }

        .navbar-custom .btn-outline-primary:hover {
            background-color: white;
            color: #007bff;
        }

    .navbar-custom .navbar-toggler {
        border-color: white; /* Cambia el color del borde del botón */
    }

    .navbar-custom .navbar-toggler-icon {
        background-image: url(/img/icons8-menú.svg); /* Cambia el color de las líneas */
    }

    .navbar-custom .cart-icon {
        display: flex;
        align-items: center; /* Alinea verticalmente el icono del carrito */
        margin-left: 30px; /* Empuja el carrito hacia la derecha */
    }

        .navbar-custom .cart-icon img {
            width: 30px; /* Ajusta el tamaño del icono del carrito */
            height: auto;
            margin-left: 10px; /* Añade espacio entre el botón de inicio de sesión y el carrito */
        }

.navbar-nav {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos del navbar */
}

    .navbar-nav .nav-item {
        margin-right: 15px; /* Ajusta el espacio entre los elementos del menú */
    }

@media (max-width: 768px) {
    .carousel-inner {
        height: 22vh; /* Ajusta la altura para dispositivos móviles */
        margin-bottom: 2vh;
    }
}


.carousel {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}

.carousel-inner {
    height: 60vh; /* Ajusta la altura a un porcentaje de la altura de la ventana */
    margin-bottom: 5vh;
}

@media (max-width: 1024px) {
    .carousel-inner {
        height: 45vh;
        margin-bottom: 2vh;
    }
}

@media (max-width: 768px) {
    .carousel-inner {
        height: 22vh; /* Ajusta la altura para dispositivos móviles */
        margin-bottom: 2vh;
    }
}

@media (max-width: 992px) {
    .navbar-custom .btn-outline-primary {
        margin: 0 auto;
        width: fit-content;
        display: block;
    }
    .img-centrada {
        margin: 0 auto;
    }
    .navbar-custom .cart-icon {
        display: flex;
        align-items: center;
        margin-left: 0px;
    }
    .navbar-custom .cart-icon img {
        margin-left: 0px;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
}

.navbar-nav .nav-item {
    margin-right: 0px;
}
/* Asegúrate de que el contenido dentro de la fila esté centrado */

.dots-color {
    background-color: #007bff;
}

/* Asegúrate de que las columnas también estén centradas y alineadas verticalmente */
.col-lg-4 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido dentro de cada columna verticalmente */
    text-align: center; /* Centra el texto dentro de cada columna */
    margin-top: 5vh;
}

    .col-lg-4 svg {
        margin-bottom: 1rem; /* Añade espacio debajo del SVG */
    }

.btn-secondary {
    margin-top: 1rem;
    background-color: #00ff1d;
    border-color: #00ff1d;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
}

.titulo-dots {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.texto-dots {
    color: white;
}

.img-fluid {
    width: 200px; /* Ajusta el ancho según sea necesario */
    height: 200px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
    margin-bottom: 1rem;
}

/* Estilos para la fila featurette */
.featurette {
    margin-bottom: 4rem;
    padding: 1rem;
    margin-top: 4rem;
}

/* Estilos para el encabezado */
.featurette-heading {
    font-size: 2.5rem; /* Tamaño de fuente más grande para el encabezado */
    font-weight: bold;
    color: #333; /* Color del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.carrusel-items{
    height:fit-content;
}


.text-body-secondary {
    color: #007bff; /* Color secundario para el texto */
}        

.img-fluid2 {
    width: 300px; /* Ajusta el ancho según sea necesario */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
}

/* Estilos para el párrafo */
.lead {
    font-size: 1.25rem; /* Tamaño de fuente para el párrafo */
    color: #555; /* Color del texto */
}

/* Estilos para la imagen */
.featurette-image {
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
}

/* Alineación para imágenes y texto en dispositivos grandes */
@media (min-width: 768px) {
    .featurette {
        display: flex;
        align-items: center;
    }

        .featurette .col-md-7 {
            margin-bottom: 0;
        }

        .featurette .col-md-5 {
            text-align: center;
        }
}

.productos-destacados {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #333;
}

.btn-primary {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
}

.productos-destacados-cards {
    width: 60vw;
    margin: 0 auto;
}

.card {
    margin-bottom: 3rem;
    padding: 5px;
}

.card-img-top {
    padding: 5px;
}

.footer-pagina {
    background-color: #007bff;
    height: 130px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.prueba {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
}

.seccion-sombra {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.containerForm {
    background-color: #007bff; /* Azul */
    padding: 2rem;
    border-radius: 20px; /* Borde de 20px */
    width: 45%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
    margin: 5vw;
}

.img-contacto{
    width: 8vh;
}

.img-sobre-nosotros {
    height: 70vh; /* Altura del contenedor al 70% de la ventana */
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
    .img-sobre-nosotros img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.img-contactanos {
    height: 50vh; /* Altura del contenedor al 70% de la ventana */
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

    .img-contactanos img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


.contacto-seccion {
    margin-bottom: 0rem;
    padding: 0rem;
    margin-top: 0rem;
}

.texto-contacto {
    text-align: center;
}

.titulo-contacto {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #0D6EFD;
}

.titulo-form{
    color: white;
}

@media (max-width: 768px) {
    .containerForm {
        width: 90%;
    }
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    position: relative;
    top: 6%;
}

    .login-container .user-avatar {
        width: 100px;
        height: 100px;
        margin: 0 auto 20px auto;
        border-radius: 50%;
        background-color: #007bff;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

            .login-container .user-avatar img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }

    .forgot-password {
        text-align: right;
        margin-top: 10px;
    }

.no-hover {
    pointer-events: none;
}

.hover-detector {
    pointer-events: all;
}

.login-seccion {
    height: 70vh;
}

.img-promos {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

    .img-promos img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

@media (max-width: 400px) {

    .img-promos {
        height: 35vh;
        width: 100%;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .img-contactanos {
        height: 35vh;
        width: 100%;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .img-sobre-nosotros {
        height: 35vh;
        width: 100%;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
